BOT_TOKEN=1234567890:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
ADMINS=123456789

SMM_API_KEY=your_smm_api_key
SMM_API_URL=https://locksmm.com/api/v2

SMS_API_KEY=your_sms_api_key
SMS_API_URL=https://locksmm.uz

CARD_NUMBER=8600....
CARD_HOLDER=YOUR NAME

SUPPORT_LINK=https://t.me/prosmmuz_admin
GUIDE_LINK=https://t.me/your_channel

USD_RATE=12850
DEFAULT_SMM_MARKUP_PERCENT=30
REFERRAL_BONUS=500
DAILY_BONUS_DEFAULT=500
WEB_APP_ALLOWED_ORIGINS=https://your-domain.com
